extends ../shared/template
block content
  #colors
    h2 This is the colors page
    #controls
      input(name='count', type='number')
      button Create Color Boxes
    #boxes

block scripts
  script(src='/js/user/colors.js')
